body {margin:0; padding:0; text-align: center}
font {color: #353535}

a {
	text-decoration: none;
}

#menu font {
	color: #ffffff;
}

#menu_list li {
	display: table-cell;
}
#menu {
	background-image: url('res/background_banner.png');
	background-size: contain;
    width:100%;
    height:100px;
    position:absolute;  /* 스크롤 메뉴 고정 */
    left:0;
	
	display: table;
	vertical-align: middle;
}
#logo_link {
	width: 250px;
	display: table-cell;
	vertical-align: middle;
}
#logo_img {
	background-size: contain;
	width: 300px;
	height: 63px;
	float: left;
	margin-left: 150px;
	padding-bottom: 5px;
}

#menu_list {
	display: table;
	width: 50%;
	float: right;
	margin-right: 150px;
	margin-top: 32px;
}

#menu_list a :hover {
	color: #aaa;
	font-weight: bold;
}

/*기본 코드*/


#wrap {
	width: 100%;
	height: 100%;
	overflow:hidden;
    position:relative;
}
#content {
	margin-top:35px;   /*메뉴영역 높이만큼 마진값*/
	width: 100%;
	height: 1200px;
}

#content1 {
	margin: 0 auto;
	width: 80%;
	height: 660px;
	background-color: #ffffff;
	padding: 10px 30px;
}

#content1_site {
	margin: 40px;
	height: 250px;
}

#content1_mcu {
	margin: 0 auto;
	height: 500px;
}

.content_left {
	float: left;
	margin-right: 40px;
}

.content_right {
	float: left;
	padding-top: 25px;
}

#timeline {
}

.sub_news {
	margin: 0 auto;
	margin-bottom: 10px;
}

.name {
	text-align: center;
}

.date {
	text-align: center;
}

.hit {
	text-align: center;
}

.caption {
	color: #555;
	font-size: 10pt;
}

.news_item {
	height: 40px;
}

