<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Marvelous ::: 회원가입</title>
	<link rel="stylesheet" href="/css/gallery.css">
	<%include ../partials/head %>
	<script src="/jq/galleria-1.4.2.min.js"></script>
	<link rel="stylesheet" href="/css/galleria.classic.css">
	<script>
		Galleria.loadTheme('/jq/galleria.classic.min.js');
		Galleria.run('#galleria');
	</script>
</head>
<BODY background="/res/background.jpg">
<div id="wrap">
	<% include ../partials/nav %>
    <div id = "content">
		<br><br>
		<div id="content1" class="panel panel-default">
			<p align="left"><font face="맑은 고딕" size="6">갤러리</font></p>
			<p align="left"><font face="맑은 고딕" size="2">영화 장면, 촬영 사진, 스틸 컷 등을 갤러리로 제공합니다.</font></p>
			<hr border="1">
			<div class="content_sub">
			<div id="galleria">
				<a href="/res/stills/still_01.jpg">
				<img src="/res/stills/still_01.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Steve and Tony"
				>
				</a>
				<a href="/res/stills/still_02.jpg">
				<img src="/res/stills/still_02.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Team Captain"
				>
				</a>
				<a href="/res/stills/still_03.jpg">
				<img src="/res/stills/still_03.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Steve and Tony in CIA"
				>
				</a>
				<a href="/res/stills/still_04.jpg">
				<img src="/res/stills/still_04.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Sam, Steve and T'Challa in CIA"
				>
				</a>
				<a href="/res/stills/still_05.jpg">
				<img src="/res/stills/still_05.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Avengers in Conference Room"
				>
				</a>
				<a href="/res/stills/still_06.jpg">
				<img src="/res/stills/still_06.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Spiderman in Berlin Airport"
				>
				</a>
				<a href="/res/stills/still_07.jpg">
				<img src="/res/stills/still_07.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Everett K. Ross & Sharon Carter in CIA"
				>
				</a>
				<a href="/res/stills/still_08.jpg">
				<img src="/res/stills/still_08.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Zemo in CIA"
				>
				</a>
				<a href="/res/stills/still_09.jpg">
				<img src="/res/stills/still_09.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Ironman & WarMachine"
				>
				</a>
				<a href="/res/stills/still_10.jpg">
				<img src="/res/stills/still_10.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Cross Bones"
				>
				</a>
				<a href="/res/stills/still_11.jpg">
				<img src="/res/stills/still_11.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Black Widow & Black Panther"
				>
				</a>
				<a href="/res/stills/still_12.jpg">
				<img src="/res/stills/still_12.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Antman(Giant)"
				>
				</a>
				<a href="/res/stills/still_13.jpg">
				<img src="/res/stills/still_13.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Winter Soldier & Falcon"
				>
				</a>
				<a href="/res/stills/still_14.jpg">
				<img src="/res/stills/still_14.jpg"
					 data-title="Captain America : Civil War"
					 data-description="Team Ironman"
				>
				</a>
				<a href="/res/stills/still_15.jpg">
				<img src="/res/stills/still_15.jpg"
					 data-title="Doctor Strange"
					 data-description="Doctor Strange & Baron Mordo"
				>
				</a>
				<a href="/res/stills/still_16.jpg">
				<img src="/res/stills/still_16.jpg"
					 data-title="Doctor Strange"
					 data-description="Doctor Strange"
				>
				</a>
				<a href="/res/stills/still_17.jpg">
				<img src="/res/stills/still_17.jpg"
					 data-title="Doctor Strange"
					 data-description="Doctor Stange with Spell"
				>
				</a>
				<a href="/res/stills/still_18.jpg">
				<img src="/res/stills/still_18.jpg"
					 data-title="Doctor Strange"
					 data-description="Steven Strange in Tibet"
				>
				</a>
				<a href="/res/stills/still_19.jpg">
				<img src="/res/stills/still_19.jpg"
					 data-title="Doctor Strange"
					 data-description="Doctor Strange"
				>
				</a>
				<a href="/res/stills/still_20.jpg">
				<img src="/res/stills/still_20.jpg"
					 data-title="Avengers : Age of Ultron"
					 data-description="Hulk Buster & Hulk"
				>
				</a>
				<a href="/res/stills/still_21.jpg">
				<img src="/res/stills/still_21.jpg"
					 data-title="Avengers : Age of Ultron"
					 data-description="Avengers in Stark Tower"
				>
				</a>
				<a href="/res/stills/still_22.png">
				<img src="/res/stills/still_22.png"
					 data-title="Avengers : Age of Ultron"
					 data-description="Captain America & Thor"
				>
				</a>
				<a href="/res/stills/still_23.jpg">
				<img src="/res/stills/still_23.jpg"
					 data-title="Avengers : Age of Ultron"
					 data-description="Avengers in Slovakia"
				>
				</a>
				<a href="/res/stills/still_24.jpg">
				<img src="/res/stills/still_24.jpg"
					 data-title="Avengers : Age of Ultron"
					 data-description="Maria Hill, Doctor Cho And James Rode with Avengers in Stark Tower"
				>
				</a>
				<a href="/res/stills/still_25.jpg">
				<img src="/res/stills/still_25.jpg"
					 data-title="Avengers : Age of Ultron"
					 data-description="Ultron with Scarlet Witch and Quick Silver"
				>
				</a>
				<a href="/res/stills/still_26.jpg">
				<img src="/res/stills/still_26.jpg"
					 data-title="Avengers : Age of Ultron"
					 data-description="Doctor(Hellen) Cho & Black Widow"
				>
				</a>
				<a href="/res/stills/still_27.jpg">
				<img src="/res/stills/still_27.jpg"
					 data-title="Avengers : Age of Ultron"
					 data-description="Maksimov siblings"
				>
				</a>
			</div><!--gallery-->
			</div><!--content_sub-->
		</div><!--content1-->
		
	</div><!--content-->
</div>
</body>
</html>
