<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Marvelous ::: 소개</title>
	<link rel="stylesheet" href="/css/introduce.css">
	<% include ../partials/head %>
</head>

<BODY background="/res/background.jpg">
	<div id="wrap">
		<% include ../partials/nav %>
		<div id = "content">
		<br><br>
			<div id = "content1" class="panel panel-default">
				<p align="left"><font face="맑은 고딕" size="6">소개</font></p>
				<p align="left"><font face="맑은 고딕" size="2">본 사이트 와 M.C.U.(Marvel Cinematic Universe) 에 대해 소개합니다. </font></p>
				<hr border="1">
				<div id="content1_site">
					<div class="content_left">
						<p><img src="/res/logo.png" valign="center"></p>
						<p><img src="/res/marvel-studios-logo-small.jpg"></p>
					</div>
					<div class="content_right">
						<p align="left"><font face="HY견고딕" size="6">마블 영화를 좋아하는 사람들의 모임!</font></p>
						<p align="left" style="line-height: 200%; margin-top:30px;">
							'MARVELOUS'는 마블 영화를 좋아하시는 분들을 위한 공간입니다.<br>
							제작중인 영화의 소식을 신속하게 제공해드리고 있으며, 커뮤니티를 통해<br>영화에 관한 내용이나 의견을 공유하실 수 있습니다.<br>
							갤러리를 통해 트레일러나 사진 등의 미디어 자료도 제공해드립니다.
						</p>
					</div>
				</div><!--content1_site-->
				<div id="content1_mcu">
					<hr>
					<p align="left" style="margin-bottom: 20px">&nbsp;&nbsp;&nbsp;&nbsp;<font face="HY견고딕" size="6">M.C.U. (Marvel Cinematic Universe)</font></p>
					<img id="timeline" src="/res/mcu-timeline.jpg" height="500">
					<p align="left" style="margin-left: 20px; margin-top: 30px; line-height: 200%;">
							'마블 시네마틱 유니버스'는 마블 코믹스의 만화 작품에 기반하여, 마블 스튜디오가 제작하는 슈퍼히어로 영화를 중심으로 드라마, 만화, 기타 단편 작품을 공유하는 가상 세계관이자 미디어 프랜차이즈입니다.<br>
							마블 유니버스와 마찬가지로 마블 시네마틱 유니버스는 플롯, 설정, 캐스팅, 캐릭터를 공유하며, 각 작품마다 다음 작품에 대한 복선 또는 지난 작품와의 연관성이 깔려 있습니다.<br>
							현재는  최근 개봉한 '캡틴 아메리카 : 시빌워'를 시작으로 Phase 3가 시작되었으며 현재는 '닥터 스트레인지'가 상영중입니다.
						</p>
				</div><!--content1_mcu-->
			</div><!--content1-->
		</div><!--content-->
    </div><!-- wrap-->
</BODY>
</HTML>
