<!DOCTYPE html>
<html lang="ko">
<HEAD><TITLE>Marvelous ::: 소개</TITLE>
    <link rel="stylesheet" href="/css/news.css">  
	<% include ../partials/head %> 
</HEAD>

<BODY background="/res/background.jpg">
	<div id="wrap">
		<% include ../partials/nav %>
		<div id = "content">
		<br><br>
			<div id = "content1" class="panel panel-default">
				<p align="left"><font face="맑은 고딕" size="6">최신 소식</font></p>
				<p align="left"><font face="맑은 고딕" size="2">마블 시네마틱 유니버스와 관련된 기사, 자료들을 모아놓았습니다.</font></p>
				<hr border="1">
				<br>
				<table class="sub_news" border="1" bordercolor="#777777" cellspacing="0" summary="게시판의 글제목 리스트" width="800" bgcolor="ffffff">
					<colgroup>
					<col>
					<col width="110">
					<col width="100">
					<col width="80">
					</colgroup>
					<thead>
					<tr bgcolor="#eeeeee" height="50" style="font-size: 14pt;">
					<th scope="col" style="text-align:center;">제목</th>
					<th scope="col" style="text-align:center;">글쓴이</th>
					<th scope="col" style="text-align:center;">날짜</th>
					<th scope="col" style="text-align:center;">조회수</th>
					</tr>
					</thead>
					<tbody>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=108&article_id=0002569704" target="new">'닥터 스트레인지', 아이언맨 없는 마블 최고 흥행작?..8억불 전망</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/11/11</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=109&article_id=0003430460" target="new">[Oh!llywood]'스파이더맨' 톰 홀랜드, 마블 4편 더? 새로운 떡밥 시작</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/11/11</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=117&article_id=0002836935" target="new">[MD할리우드]마블 최고작 1위 ‘가오갤’, 2위 ‘닥터 스트레인지’</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/11/03</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=108&article_id=0002566559" target="new">마블의 강력 떡밥 '인피니티 스톤'의 행방 총정리①</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/10/29</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=117&article_id=0002834237" target="new">마블, 20세기폭스와 당분간 협업 없다</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/10/28</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=117&article_id=0002831836" targe="new">마블 CEO, “‘캡틴 마블’은 MCU서 가장 강한 히어로”</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/10/23</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=117&article_id=0002830265" target="new">마블, ‘가디언즈 오브 갤럭시2’ 포스터 첫 공개</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/10/20</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=117&article_id=0002823728" target="new">마블X베네딕트 컴버배치, 100만 달러 글로벌 기부 프로젝트 발표</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/10/07</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=112&article_id=0002850064" target="new">'블랙팬서' 채드윅 보스만 "마블, 설명없이 캐스팅..당황"</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/10/05</td>
						<td class="hit">10</td>
					</tr>
					<tr class="news_item">
						<td class="title">
						<a href="http://movie.naver.com/movie/mzine/read.nhn?section=main&office_id=213&article_id=0000912955" target="new">마블 대표 "'닥터 스트레인지' 영화제 수상배우 최다 출연"</a>
						</td>
						<td class="name">관리자</td>
						<td class="date">2016/10/04</td>
						<td class="hit">10</td>
					</tr>
					</tbody>
				</table>
				<caption><font class="caption">* 각 게시물의 링크는 원본 기사의 사이트로 이동됩니다.</font></caption>
			</div>
			
		</div><!--content-->
    </div><!-- wrap-->
</BODY>
</HTML>
